<section class="section" id="content">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>

        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>

        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>

        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-square">
            <img src="../static/pic/1594805927-ba399df52fb3d61.jpg">
          </figure>

        </article>
      </div>
    </div>

  </section>