<% include component/navbar.html %>
<% include component/lunbo.html %>
  <section class="is-medium" style="background-color:#77a075;padding:5% ;">
    <div class="tile is-ancesto">
      <div class="tile is-parent is-vertical">
        <h1 class="subtitle">我们的愿景</h1>
        <h1 class="title">借特色产业,融传统非遗,用信息化手段,赋能当地市场</h1>
        <div class="tile is-parent card">
          <div class="card-image is-rounded">
            <figure class="image is-3by2">
              <img src="../static/pic/study.jpg">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96	">
                  <img src="../static/pic/num01.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-3">纹样库与检索</p>
                <p class="subtitle is-6">我们收集了各种西兰卡普纹样，希望把这些美丽的纹样用信息化的手段存储下来，让人们看到
                  西兰卡普的魅力。同时我们对于关键字进行分析，让用户可以对于纹样库中的纹样进行筛选查找
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="../static/pic/农民.jpg">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="../static/pic/num02.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-3">纹样防伪，检测报告展示，保证产品品质</p>
                <p class="subtitle is-6">每一种产品对应一个独一无二的纹样，拍摄产品包装并上传，
                  即可查看产品检测报告，做到一品一溯源，实现信息公开透明。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-child card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="../static/pic/包装2.png">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="../static/pic/num03.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-3">包装定制，服务到家</p>
                <p class="subtitle is-6">公司艺设团队，为武陵山区茶产品设计全新非遗包装，
                  设计配套陶瓷茶具提供包装定制服务，方便农户自产自销，提高品牌价值。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="is-medium" style="background-color:#77a075 ; padding:5%;">
    <div class="tile is-ancestor box is-vertical ">
      <div class="tile is-parent is-centered">
        <div class="tile is-children is-vertical" style="padding-left:10% ;">
          <h1 class="subtitle is-1 is-child">西兰卡普</h1>
          <img class="image" style="object-fit:cover;overflow: hidden;width:50%;" src="../static/pic/pics/images/None1.jpg">
        </div>
        <div class="tile is-children is-vertical is-centered">
          <h1 class="title is-1 is-child">非遗</h1>
          <h1 class="title is-1 is-child"></h1>
          <p>
            西兰卡普是一种传统的土家族编织技艺，
            具有悠久的历史和独特的文化特色。它是土家族妇女们用手工编织的布料，
            以其独特的花纹和图案而闻名。西兰卡普的编织过程需要经过挑经、穿纬、编织、缝合等多个步骤，
            常见的材料包括棉线和丝线，颜色鲜艳多样。
          </p>
        </div>
        <div class="tile is-children is-vertical is-centered" style="padding-left:10% ;">
          <img class="image" style="object-fit:cover;overflow: hidden;width: 50%; height: 90%;" src="../static/pic/pics/傩面具/211202740295.jpg">
          <h1 class="subtitle is-1" >傩面具</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="is-medium" style="background-color:#77a075 ; padding:5%;">
    <div class="tile is-ancestor box">
      <div class="tile is-parent is-5">
        <img src="../static/pic/pics/images/麻阳花纹（土家织锦 西兰卡普图样）.jpg">
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <div class="level">
            <div class="level-item">
              <h1 class="title is-1">西兰卡普</h1>
            </div>
            <div class="level-item">
              <img src="../static/pic/homep1.jpg" width="250vw" height="300vw"style="margin-left:10%;">
            </div>
          </div>
        </div>
        <div class="tile is-child" >
          <div class="level">
            <div class="level-item">
              <img src="../static/pic/homep2.jpg" width="250vw" height="300vw" style="margin-left:10%;">
            </div>
            <div class="level-item">
              <h1 class="title is-1">傩面具</h1>
            </div>
          </div>
        </div>
        <div class="tile is-child content" style="margin:3%;">
          <p>
            西兰卡普是一种传统的土家族编织技艺，具有悠久的历史和独特的文化特色。它是土家族妇女们用手工编织的布料，以其独特的花纹和图案而闻名。西兰卡普的编织过程需要经过挑经、穿纬、编织、缝合等多个步骤，常见的材料包括棉线和丝线，颜色鲜艳多样。
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="is-medium" style="background-color:#77a075 ; padding:5% ;">
    <h1 class="tile title is-child has-text-centered">我们的团队</h1>
    <div class="tile is-ancestor" style="margin-top:3% ;">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">传承</p>
          <p class="subtitle">我们希望保护优秀的中华传统文化，技术，同时我们深知在快速发展的时代，非遗需要有
            更新的形式，我们将新技术给传统文化赋能，让非遗继续传承，让更多人知晓
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">创新</p>
          <p class="subtitle">我们团队鼓励不断挑战传统思维模式，勇于尝试新的方法和解决方案。
            我们鼓励创造性思考，培养创新意识，并提供创新环境和资源支持。
            我们期待用我们的创意给市场,传统技术注入新活力。
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">担当</p>
          <p class="subtitle">我们争当武陵山区茶产业新升级的领跑者，带领商户与农户更好地走向市场，
            探索一种可移植，可复制的解决方案，给各发展落后山区提供经验支持。
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">奉献</p>
          <p class="subtitle">我们的将我们的经验整理，输出给商户和农户。关于品牌运营，产品标准，管理模式.....
            我们提供一整套完整的解决方案，
          </p>
        </article>
      </div>
    </div>

  </section>

  </body>

  </html>